body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-img {
  background-image: url(./imgs/logIn.jpg);
  background-size: cover;
  background-position: center;
}

.signup-img {
  background-image: url(./imgs/signUp.jpg);
  background-size: cover;
  background-position: center;
}
.chat-img {
  background-image: url(./imgs/chat.jpg);
  background-size: cover;
  background-position: center;
}